.glogo{
  opacity: 0;
  height: 0%;
  width: 0%;
}

hr {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-family: 'Poppins', sans-serif;
}

.container-fluid {
  width: 76%;
}

.container-fluid img {
  opacity: 0.9;
}

.carousel-caption {
  position: absolute;
  top: 68%;
}

.carousel-caption p {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 32px;
}

.carousel-caption h5 {
  font-size: 60px;
  opacity: 1;
  font-family: 'Vibur', cursive;
  margin-bottom: -10px;
}


.downModule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downModule svg{
  font-size: 35px;
  cursor: pointer;
  color:rgb(31, 52, 65);
  margin-bottom: 10px;
}

.rotate{ 
  transform: rotate(180deg);
}


h3{
  margin: 20px;
  font-family: 'Vibur', cursive;
  font-size: 37px;
  text-align: center;
  color: rgb(31, 52, 65);
}

.gallery1 .container {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 30% 30% 30% 30%; 
    grid-gap: 15px;
    justify-content: center;
    opacity: 0.9;
  }

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.item-a {
      grid-column-start: 1;
      grid-column-end: 3;
}

.modalImage{
   cursor: pointer;
   transition: 0.3s;
}

.modalImage:hover {opacity: 0.7;}


.myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin-top: 4%;
    display: block;
    width: 100%;
    max-width: 700px;
    height: auto;
    opacity: 1;
}

.myModal p{
    color: antiquewhite;
    font-size: 11px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
} 


.item-c {
    grid-column-start:4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.item-d {
    grid-column-start:1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}

.item-e {
    grid-column-start:2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

@media (max-width: 768px) {

  .carousel img{
    opacity: 0; /** display none */
    width: 0%;
    height: 0%;
  }

  .container-fluid{
    opacity: 0; /** display none */
    width: 0%;
    height: 0%;
  }

  .logo{
    height: 20%;
    width: 20%;
    position: relative;
    left: 40%;
    opacity: 1;
    padding: 3px;
    margin: 5px;
  }


  .container {
    height: 100%;
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: auto ;
    grid-gap: 15px;
    justify-content: center;
    opacity: 0.9;
  }

  .item-a {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
    grid-row-end: 3;
  }

  .item-b {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }
    
  .item-c {
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
  }

  .item-d {
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 9;
}

.item-e {
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 11;
}
}