/* CAROUSSEL */ 

.glogo{
  opacity: 0;
  height: 0%;
  width: 0%;
}

hr {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-fluid {
  width: 76%;
}

.container-fluid img {
  opacity: 0.9;
}

.carousel-caption {
  position: absolute;
  top: 68%;
}

.carousel-caption p {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 32px;
}

.carousel-caption h5 {
  font-size: 60px;
  opacity: 1;
  font-family: 'Vibur', cursive;
  margin-bottom: -10px;
}

/* BTN DOWN */ 

.downModule , .downModule2 , .downModule3{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
}

 #content svg{
  font-size: 35px;
  cursor: pointer;
  color:rgb(31, 52, 65);
  margin-bottom: 10px;
}

.rotate{ 
  transform: rotate(180deg);
}


h3{
  margin: 20px;
  font-family: 'Vibur', cursive;
  font-size: 37px;
  text-align: center;
  color: rgb(31, 52, 65);
}

/* GALLERY 1 */ 

.gallery1 .container {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 30% 30% 30% 30%; 
    grid-gap: 15px;
    justify-content: center;
    opacity: 0.9;
  }

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.item-a {
      grid-column-start: 1;
      grid-column-end: 3;
}

      /* GALLERY 1-Modal */ 

.modalImage{
   cursor: pointer;
   transition: 0.3s;
}

.modalImage:hover {opacity: 0.7;}


.myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(2, 22, 31, 0.95); /* Black w/ opacity */
    z-index: 999; /* Sit on top */
}

/* Modal Content (Image) */
.modal-content {
    margin-top: 4%;
    display: block;
    width: 100%;
    max-width: 700px;
    height: auto;
    opacity: 1;
    margin-bottom: 20px;
}

.myModal p{
    color: antiquewhite;
    font-size: 11px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
} 


.item-c {
    grid-column-start:4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.item-d {
    grid-column-start:1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}

.item-e {
    grid-column-start:2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

/* GALLERY 2 */ 

.gallery2 .container {
  height: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 30% 30% 30% 30%; 
  grid-gap: 15px;
  justify-content: center;
  opacity: 0.9;
}

.item-f {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.item-g {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.item-h {
  opacity: 0.8;
}

/* GALLERY 3 */ 

.gallery3 .container {
  height: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 30% 30% 30% 30%; 
  grid-gap: 15px;
  justify-content: center;
  opacity: 0.9;
  margin-bottom: 60px;
}

.item-o {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item-k {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.item-m {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}


.item-n {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

/* MEDIA MOBILE */ 

@media (max-width: 768px) {

  .carousel img{
    opacity: 0; /** display none */
    width: 0%;
    height: 0%;
  }

  .container-fluid{
    opacity: 0; /** display none */
    width: 0%;
    height: 0%;
  }

  .glogo{
    display: flex;
    width: 20%;
    height: auto;
    position: relative;
    left: 40%;
    top: 15px;
    opacity: 1;
  }

  .gallery1 .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 30px;
    opacity: 0.9;
  }
  
  .gallery1 img{
    margin: 10px;
  }

/* 2eme Gallery*/

.gallery2 .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 30px;
  opacity: 0.9;
}

.gallery2 img{
  margin: 10px;
}



/* 3eme Gallery*/

.gallery3 .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 30px;
  opacity: 0.9;
}

.gallery3 img{
  margin: 10px;
}

.myModal {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(2, 22, 31, 0.95); /* Black w/ opacity */
  z-index: 999; /* Sit on top */
}

/* Modal Content (Image) */
.modal-content {
  margin-top: 50%;
  display: block;
  width: 70%;
  max-width: 700px;
  height: auto;
  opacity: 1;
  margin-bottom: 10px;
}

.myModal p{
  color: antiquewhite;
  font-size: 11px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}


} 

