h2{
  border: 15px solid;
  border-image: linear-gradient(green, rgb(105, 128, 0)) 10;
  padding: 20px;
  display: inline-block
}

.poppins{
  font-family: poppins;
}


  /* card image cap */
  .row {
    height: 500px;
    background-color: red;
  }

  .card{
    height:100%;
  }
  
  .col{
    width: 300px;
  }
  .size2{
    height: 50%;
  }
  
  
/* cards  */

.vertical{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
  
  

/*  texte */

.texte{
  width: 30px;
}
  /* form style*/
  
  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .centered{
    width:40%;
    margin: auto;
  }
  
  .margin{
    margin-bottom:10%;
    margin-top:10%
  }


