#pagecontent{
  margin-left: auto;
  margin-right: auto; 
}

#pagecenter{
    display:flex;
    align-content: center;
    flex-direction: column;
  
  }
  .container-fluid{
    width: 100%; 
    max-width: 1200px;
  }
  #titledescription{
    display: flex ;
    justify-content: center;
    text-align: center;
    font-size: 270%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: rgb(37, 51, 59);
    font-family: 'Kosugi Maru', sans-serif;
    text-decoration: underline;
  }
  
     /*Responsive titledescription*/
  
     @media (max-width:768px){
       #titledescription{
         font-size: 50%
       }
      }
  
        /* ping in map */
  
          /* tokyo */
  
  .pingtokyo {
    position: absolute;
    bottom: 44%;
    left: 54%;
    font-size: 30px;
    color: rgb(250, 131, 37); 
  }
          /*osaka*/
  
  .pingosaka {
    position: absolute;
    font-size: 30px;
    left: 34%;
    bottom:34%;
    color: rgb(250, 131, 37);
  }
          /*chicago*/
  
  .pingchicago {
    position: absolute;
    bottom: 58.7%;
    left: 62.5%;
    font-size: 30px;
    color: rgb(250, 131, 37);
  }
          /*dallas*/
  
  .pingdallas {
    position: absolute;
    font-size: 30px;
    left: 47%;
    bottom: 25%;
    color: rgb(250, 131, 37);
  }
  
      /* button in map */
  
        /* tokyo */
  
  .buttontokyo{
    position: absolute;
    bottom: 45%;
    left: 54%; 
    opacity: 0;
   }
        /* osaka*/
  
  .buttonosaka{
    position: absolute;
    left: 34%;
    bottom:35%;
    opacity: 0;
          
  }
  
       /*chicago*/
  
  .buttonchicago{
    position: absolute;
    bottom: 59.7%;
    left: 62.5%;
    opacity: 0;
  }
  
      /*dallas*/
  
  .buttondallas{
    position: absolute;
    left: 47%;
    bottom: 26%;
    opacity: 0;
  }
  
  
                            /*modal pop up ordering*/
  
  
      /*chicago*/
  
  .chicagomodalorder{
    display: flex;
    flex-direction: row;
  }
  
  .paragraphSizingChicago{
    width: 20%;
    margin: 2%;
    text-align: left;
  }
  .titlemodalparagraph{
    text-align: center;
  }
  
  @media (max-width:768px){
  .chicagomodalorder{
    display:flex;
    flex-direction: column;
  }
  .paragraphSizingChicago{
    width: 100%;
    margin: 2%;
    text-align: center;
  }
  }
  
      /*dallas*/
  
      .dallasmodalorder{
        display: flex;
        flex-direction: row;
        
      }
      
      .paragraphSizingDallas{
        width: 20%;
        margin: 2%;
        text-align: left;
      }
      .titlemodalparagraph{
        text-align: center;
      }
      
      @media (max-width:768px){
      .dallasmodalorder{
        display:flex;
        flex-direction: column;
      }
      .paragraphSizingDallas{
        width: 100%;
        margin: 2%;
        text-align: center;
      }
    }
      
          /*tokyo*/
  
  .tokyomodalorder{
    display: flex;
    flex-direction: row;
  }
  
  .paragraphSizingTokyo{
    width: 20%;
    margin: 2%;
    text-align: left;
  }
  .titlemodalparagraph{
    text-align: center;
  }
  
  @media (max-width:768px){
  .tokyomodalorder{
    display:flex;
    flex-direction: column;
  }
  .paragraphSizingTokyo{
    width: 100%;
    margin: 2%;
    text-align: center;
  }
  }
  
      /*osaka*/
  
      .osakamodalorder{
        display: flex;
        flex-direction: row;
      }
      
      .paragraphSizingOsaka{
        width: 20%;
        margin: 2%;
        text-align: left;
      }
      .titlemodalparagraph{
        text-align: center;
      }
      
      @media (max-width:768px){
      .osakamodalorder{
        display:flex;
        flex-direction: column;
      }
      .paragraphSizingOsaka{
        width: 100%;
        margin: 2%;
        text-align: center;
      }
    }
  
      /*hover on ping*/
  
      /*tokyo*/
  
  .hoverTokyo{
    position: absolute;
    bottom: 49%;
    left: 54%; 
    opacity: 0;
    background-color: black;
    color: white;
  }
  
  .buttontokyo:hover+.hoverTokyo{
    opacity: 0.80;
  }
  
      /*osaka*/
  
  .hoverOsaka{
    position: absolute;
    left: 34%;
    bottom:38%;
    opacity: 0;
    background-color: black;
    color: white;
  
  }
  
  .buttonosaka:hover+.hoverOsaka{
    opacity: 0.80;
  }
  
      /*dallas*/
  
  .hoverDallas{
    position: absolute;
    left: 47%;
    bottom: 29%;
    opacity: 0;
    background-color: black;
    color: white;
    }
  
  .buttondallas:hover+.hoverDallas{
    opacity: 0.80;
  }
  
      /*chicago*/
  
  .hoverChicago{
    position: absolute;
    bottom: 62.7%;
    left: 62.5%;
    opacity: 0;
    background-color: black;
    color: white;
    }
  
  .buttonchicago:hover+.hoverChicago{
    opacity: 0.80;
    }

.bd-example-modal-lg {
  padding-top: 8%;
  background-color: rgba(38, 38, 38 ,0.8) ;
}
.dallas{
padding-top: 8%;
background-color: rgba(38, 38, 38 ,0.8) ;
}
.osaka{
  padding-top: 8%;
background-color: rgba(38, 38, 38 ,0.8) ;
}
.tokyo{
  padding-top: 8%;
background-color: rgba(38, 38, 38 ,0.8) ;
}

.close{
  display: absolute;
  margin: -30%;
  color: white;
}


/*progress bar */
  
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  width: 40%;
  
}

.container .ping {
  display: flex;
  justify-content: center;
 
  padding: 2%;
  border-radius: 80%;
  width: 25%;
  border: solid rgb(62, 159, 128);
  background-color: rgb(62, 159, 128);
  margin-left: -0.2%;
  margin-right: -0.2%;
}
.container .pingSecond {
  display: flex;
  justify-content: center;
  border: solid rgb(62, 159, 128);
  padding: 2%;
  border-radius: 80%;
  width: 25%;
  margin-left: -0.2%;
  margin-right: -0.2%;
}

.container .liaison {
  padding: 0.5%;
  width: 10%;
  background-color: rgb(62, 159, 128);
  border: solid rgb(62, 159, 128);
}

.liaisonOut{
  padding: 0.5%;
  width: 10%;
  
  border: solid rgb(62, 159, 128);
}
.progressTextAlign {
  text-align: center;
  font-size: 99%;
  min-width: 100%;
  color: rgb(37, 51, 59);
  font-family: 'Kosugi Maru', sans-serif;
}

.descriptionOfBar{
 text-align: center;
 margin-top: 1%;
 font-family: 'Kosugi Maru', sans-serif;
  font-weight: bolder;
}

.carousel-control-prev-icon{
 background-color:  rgb(37, 51, 59);
 border-radius: 40%;
}
.carousel-control-next-icon{
  background-color: rgb(37, 51, 59);
  border-radius: 40%;
}
.active{
  color: rgb(37, 51, 59);
}