
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
}

.navi #sidebar {
    min-width: 200px;
    max-width: 200px;
    background: rgb(82, 82, 82);
    color: #fff;
    transition: all 0.3s;
    position: fixed;
    float: left;
    height: 100%;
    z-index: 1;
}

.navi #sidebar.active {
    min-width: 60px;
    max-width: 60px;
    text-align: center;
}

.navi #sidebar ul li a {
    padding: 20px 40px;
    font-size: 1.2em;
    display: block;
}

.navi #sidebar ul li a:hover {
    color: rgb(82, 82, 82);
    background: #fff;
}

.navi #sidebar.active ul li a {
    padding: 10px;
    padding-left: 0;
    text-align: center;
    font-size: 0.85em;
}

.navi #sidebar ul li a i {
    margin-right: 10px;
}

.navi #sidebar.active ul li a i {
    display: none;
}

.navi #sidebar.active ul li a svg {
    display: none;
}

.navi #sidebar .btn-collapse .fa-angle-right {
    display: none;
}

.navi #sidebar.active .btn-collapse .fa-angle-right {
    display: inline;
}

.navi #sidebar .btn-collapse .fa-angle-left {
    display: inline;
}

.navi #sidebar.active .btn-collapse .fa-angle-left {
    display: none;
}

.navi #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #999;
}

.navi #sidebar.active .sidebar-header {
    display: none;
}

.navi .logo {
    width: 50%;
    margin-left: 25%;
}

.navi .btn-collapse {
    border-radius: 50%;
    text-align: center;
    float: right;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgb(82, 82, 82);
}

.navi .btn-collapse:hover {
    background-color: #fff;
}

.navi .btn-collapse svg {
    font-size: 30px;
}

.navi #sidebar.active .btn-collapse {
    margin-right: 0;
    float: none;
}

.navi .btn-collapse span {
    color: #fff;
}

.navi .btn-collapse:hover span {
    color: rgb(82, 82, 82);
}

.navi .btn {
    box-shadow: none !important;
}

.navi #sidebar i,
.navi #sidebar span {
    display: inline-block;
}

.navi #sidebar a,
.navi #sidebar a:hover,
.navi #sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    outline-style: none;
    -moz-outline-style: none;
}

.navi #sidebar .socials {
    margin-left: 30px;
    bottom: 10px;
    position: absolute;
}

.navi #sidebar.active .socials {
    margin-left: 0px;
    bottom: 10px;
    position: absolute;
}

.navi #sidebar .socials a i {
    font-size: 30px;
    margin: 20px;

}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: auto;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: relative;
    z-index: 0;
    margin-left: 200px;
}

#content.active {
    margin-left: 60px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .navi #sidebar {
        min-width: 60px;
        max-width: 60px;
        text-align: center;
        margin-left: -60px !important;
    }
    .navi #sidebar.active {
        margin-left: 0 !important;
    }
    .navi #sidebar ul li a {
        padding: 20px 10px;
    }
    .navi #sidebar ul li a span {
        font-size: 0.85em;
    }
    .navi #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    .navi #sidebar ul li a i {
        font-size: 1.3em;
    }
    .navi #sidebar {
        margin-left: 0;
    }
    .navi #content {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .navi #sidebar {
        display: none;
    }

    .navi #sidebar * {
        display: none;
    }

    .navi #content {
        margin-left:0;
    }
}

