
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
}

.navi #sidebar {
    min-width: 200px;
    max-width: 200px;
    background: #253842;
    color: #fff;
    transition: all 0.3s;
    position: fixed;
    float: left;
    height: 100%;
    z-index: 1;
}

.navi #sidebar.active {
    min-width: 60px;
    max-width: 60px;
    text-align: center;
}

.navi #sidebar ul li a {
    padding: 20px 40px;
    font-size: 1.2em;
    display: block;
}

.navi #sidebar ul li:hover {
    color: #253842;
    background: #fff;
}

.navi #sidebar.active ul li a {
    padding: 40px 0px 40px 0px;
    text-align: center;
    font-size: 1.5vh;
    transform: rotate( -90deg );
}

.navi #sidebar ul li a i {
    margin-right: 10px;
}

.navi #sidebar.active ul li a i {
    display: none;
}

.navi #sidebar.active ul li a svg {
    display: none;
}

.navi #sidebar .btn-collapse .fa-angle-right {
    display: none;
}

.navi #sidebar.active .btn-collapse .fa-angle-right {
    display: inline;
}

.navi #sidebar .btn-collapse .fa-angle-left {
    display: inline;
}

.navi #sidebar.active .btn-collapse .fa-angle-left {
    display: none;
}

.navi #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}

.navi #sidebar.active .sidebar-header {
    display: none;
}

.navi .logonav {
    width: 50%;
    height: auto;
    margin-left: 25%;
}

.navi .btn-collapse {
    border-radius: 50%;
    text-align: center;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #253842;
}

.navi .btn-collapse:hover {
    background-color: #fff;
}

.navi .btn-collapse svg {
    font-size: 30px;
}

.navi #sidebar.active .btn-collapse {
    margin-right: 0;
    float: none;
}

.navi .btn-collapse span {
    color: #fff;
}

.navi .btn-collapse:hover span {
    color: rgb(82, 82, 82);
}

.navi .btn {
    box-shadow: none !important;
}

.navi #sidebar i,
.navi #sidebar span {
    display: inline-block;
}

.navi #sidebar a,
.navi #sidebar a:hover,
.navi #sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    outline-style: none;
    -moz-outline-style: none;
}

.navi #sidebar .socials {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    bottom: 10px;
    position: absolute;
}

.navi #sidebar.active .socials {
    margin-left: 0px;
    bottom: 10px;
    position: absolute;
}

.navi #sidebar .socials a i {
    font-size: 30px;
    margin: 16px;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: relative;
    z-index: 0;
    margin-left: 200px;

}

#content.active {
    margin-left: 60px;
}

#content .btn-burger{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #253842;
    z-index: 2;
}

#content .btn-burger:hover {
    background-color: #fff;
}

#content .btn-burger span {
    color: #fff;
}

#content .btn-burger:hover span {
    color: rgb(82, 82, 82);
}

#content .btn {
    box-shadow: none !important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-height: 1081px) {
    .navi #sidebar.active ul li a {
        font-size: 1.2em;
    }
}

@media (max-width: 900px) {
    .navi #sidebar {
        min-width: 60px;
        max-width: 60px;
        background: #253842;
        color: #fff;
        transition: all 0.3s;
        position: fixed;
        float: left;
        height: 100%;
        z-index: 1;
        text-align: center;
    }
    
    .navi #sidebar.active {
        min-width: 200px;
        max-width: 200px;
    }
    
    .navi #sidebar ul li a {
        padding: 40px 0px 40px 0px;
        text-align: center;
        font-size: 2vh;
        transform: rotate( -90deg );
        display: block;
    }
    
    .navi #sidebar.active ul li a {
        text-align: left;
        padding: 20px 40px 20px 40px;
        font-size: 2.5vh;
        transform:  none;
    }
    
    .navi #sidebar ul li:hover {
        color: #253842;
        background: #fff;
    }
    
    .navi #sidebar ul li a i {
        margin-right: 10px;
        display: none;
    }

    .navi #sidebar ul li a i {
        display: none;
    }
    
    .navi #sidebar ul li a svg {
        display: none;
    }
    
    .navi #sidebar.active ul li a i {
        display: inline;
    }
    
    .navi #sidebar.active ul li a svg {
        display: inline;
    }
    
    .navi #sidebar .btn-collapse .fa-angle-right {
        display: inline;
    }
    
    .navi #sidebar.active .btn-collapse .fa-angle-right {
        display: none;
    }
    
    .navi #sidebar .btn-collapse .fa-angle-left {
        display: none;
    }
    
    .navi #sidebar.active .btn-collapse .fa-angle-left {
        display: inline;
    }
    
    .navi #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #fff;
    }

    .navi #sidebar .sidebar-header {
        display: none;
    }
    
    .navi #sidebar.active .sidebar-header {
        display: inline;
    }
    
    .navi .logonav {
        width: 50%;
        height: auto;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    .navi .btn-collapse {
        border-radius: 50%;
        text-align: center;
        float: none;
        margin-right: 0;
        margin-top: 10px;
        width: 50px;
        height: 50px;
        border: none;
        background-color: #253842;
    }
    
    .navi .btn-collapse:hover {
        background-color: #fff;
    }
    
    .navi .btn-collapse svg {
        font-size: 30px;
    }
    
    .navi #sidebar.active .btn-collapse {
        margin-right: 10px;
        float: right;
    }
    
    .navi .btn-collapse span {
        color: #fff;
    }
    
    .navi .btn-collapse:hover span {
        color: rgb(82, 82, 82);
    }
    
    .navi .btn {
        box-shadow: none !important;
    }
    
    .navi #sidebar i,
    .navi #sidebar span {
        display: inline-block;
    }
    
    .navi #sidebar a,
    .navi #sidebar a:hover,
    .navi #sidebar a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
        outline-style: none;
        -moz-outline-style: none;
    }
    
    .navi #sidebar .socials {
        margin-left: 0px;
        bottom: 10px;
        position: absolute;
    }
    
    .navi #sidebar.active .socials {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
    
    .navi #sidebar .socials a i {
        font-size: 30px;
        margin: 16px;
    }

    #content {
        width: 100%;
        padding: 0;
        min-height: 100vh;
        transition: all 0.3s;
        position: relative;
        z-index: 0;
        margin-left: 60px;
    
    }
    
    #content.active {
        margin-left: 200px;
    }
}

@media (max-height: 900px) {
    .navi #sidebar.active ul li a {
        padding: 30px 0px 30px 0px;
        font-size: 2vh;
    }

    .navi #sidebar.active .socials a i {
        font-size: 20px;
        margin: 15px 21px 5px 21px;
    }
}

@media (max-height: 900px) and (max-width:900px) {
    .navi #sidebar ul li a {
        padding: 30px 0px 30px 0px;
        font-size: 2vh;
    }

    .navi #sidebar .socials a i {
        font-size: 20px;
        margin: 15px 21px 5px 21px;
    }

    .navi #sidebar.active ul li a {
        text-align: left;
        padding: 20px 40px 20px 40px;
        transform:  none;
    }

    .navi #sidebar.active .socials a i {
        font-size: 30px;
        margin: 16px;
    }
}

@media (max-width: 650px) {
    .navi #sidebar {
        display: none;
    }

    .navi #sidebar * {
        display: none;
    }

    #content {
        margin-left: 0;
    }

    #content.active {
        margin-left: 0;
    }

    #content .btn-burger {
        display: inline;
    }
}

@media (max-height: 670px) {
    .navi #sidebar .socials {
        display: none;
    }

    .navi #sidebar ul.components {
        border-bottom: none;
    }

    .navi .logonav {
        display: none;
    }

    .navi #sidebar.active ul li a {
        font-size: 2.5vh;
    }
}

@media (max-height: 500px) {
    .navi .btn-collapse {
        width: 30px;
        height: 30px;
    }
    
    .navi .btn-collapse svg {
        font-size: 15px;
    }
}

@media (max-height: 414px) {
    .navi #sidebar {
        display: none;
    }

    .navi #sidebar * {
        display: none;
    }

    #content {
        margin-left: 0;
    }

    #content.active {
        margin-left: 0;
    }

    #content .btn-burger {
        display: inline;
    }
}
