
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    outline-style: none;
    -moz-outline-style: none;
}

i,
span {
    display: inline-block;
}

.btn {
    box-shadow: none !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(82, 82, 82);
    color: #fff;
    transition: all 0.3s;
    position: fixed;
    float: left;
    height: 100%;
    z-index: 1;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header .logo {
    display: none;
}

#sidebar.active ul li a {
    padding: 20px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    display: none;
}

#sidebar.active ul li a svg {
    display: none;
}

#sidebar .btn-collapse .fa-angle-right {
    display: none;
}

#sidebar .btn-collapse .fa-angle-left {
    display: inline;
}

#sidebar.active .btn-collapse .fa-angle-right {
    display: inline;
}

#sidebar.active .btn-collapse .fa-angle-left {
    display: none;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #999;
}

#sidebar ul li a {
    padding: 20px 40px;
    font-size: 1.5em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(82, 82, 82);
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.logo {
    width: 66%;
    margin-left: 17%;
}

.btn-collapse {
    border-radius: 50%;
    text-align: center;
    float: right;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgb(82, 82, 82);
}

.btn-collapse:hover {
    background-color: #fff;
}

.btn-collapse svg {
    font-size: 30px;
}

#sidebar.active .btn-collapse {
    margin-right: 0;
    float: none;
}

.btn-collapse span {
    color: #fff;
}

.btn-collapse:hover span {
    color: rgb(82, 82, 82);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: auto;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: relative;
    z-index: 0;
    margin-left: 250px;
}

#content.active {
    margin-left: 80px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #content {
        margin-left: 0;
    }
}